<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>results</title>
    <link rel="icon" href="{%static 'images/webicon.png' %}">

</head>

<body>

    <header>
        <h1>student results</h1>
    </header>
<img src="{%static 'images/image.jpg' %}" alt="home"/>
    <h2>Form</h2>
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">Submit</button>
</form>
    {% for form in formset%}
     {% for field in form %}
      <table>
            <tr>
                <th>name</th>
                <th>maths</th>
                <th>english</th>
                <th>science</th>
                <th>average</th>
            </tr>
         <tbody>
                <tr>
                    <td>{{ form.cleaned_data.name }}</td>
                    <td>{{ form.cleaned_data.maths}}</td>
                    <td>{{ form.cleaned_data.english}}</td>
                    <td>{{ form.cleaned_data.science}}</td>
                    <td>{{ form.cleaned_data.average}}</td>

                </tr>
         </tbody>
       </table>
      {% endfor %}
     {% endfor %}
</body>
</html>